@media (max-width: 1440px) {
  iframe {
    width: 100%;
    height: 34rem;
  }
  .aventador-interior p {
    font-size: 1.2rem;
  }
  .aventador-engine p {
    font-size: 1.2rem;
  }
}
@media (max-width: 1200px) {
  .title {
    padding: 5rem 0;
  }
  h1 {
    font-size: 9rem;
  }
  .aventador-interior h2 {
    padding-top: 2rem;
    font-size: 3rem;
  }
  .aventador-engine h2 {
    font-size: 3rem;
  }
  .videos-details {
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    row-gap: 3rem;
  }
  .videos-details .video-img1b {
    grid-row: 2;
    display: block;
    width: 100%;
  }
  .videos-details .video-img2b {
    grid-row: 4;
    display: block;
    width: 100%;
  }
  .videos-details .aventador-interior {
    grid-row: 1;
    width: 100%;
  }
  .aventador-interior h2 {
    color: white;
  }
  .videos-details .aventador-engine {
    grid-row: 3;
    width: 100%;
  }
  .video-img1,
  .video-img2 {
    display: none;
  }
  .about-us-details {
    grid-row: 1;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: unset;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
  }
  .about-us-img1 {
    grid-row: 2;
    width: 100%;
  }
  .about-us1 {
    grid-row: 1;
    grid-column: unset;
    align-items: center;
  }
  .about-us2 {
    grid-row: 3;
    text-align: center;
  }
  .about-us-img2 {
    grid-row: 4;
    width: 100%;
    grid-column: unset;
  }
  .contact-us-data h4 {
    font-size: 1.5rem;
  }
  .contact-us-data p {
    font-size: 1rem;
  }
  .form-title {
    font-size: 2rem;
  }
}
@media (max-width: 990px) {
  .container-fluid {
    margin: 1rem;
  }
  .album {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  footer .navbar-bottom {
    font-size: 0.8rem;
  }
  .aventador-interior p {
    background-color: #FFF;
  }
  .about-us2 p {
    color: #FFF;
  }
  .content-contact-us {
    row-gap: 4rem;
  }
}
@media (max-width: 820px) {
  .title h1 {
    font-size: 5rem;
  }
  .title h2 {
    font-size: 2rem;
  }
  .title {
    padding: 5rem 0;
  }
  .lambo {
    font-size: 1.5rem;
  }
  .aventador {
    font-size: 3rem;
  }
  .album {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }
  .content-about-us p {
    font-size: 1.2rem;
  }
  .content-about-us h2 {
    font-size: 2rem;
  }
  .about-us2 p {
    color: #FFF;
  }
  iframe {
    height: 40rem;
  }
}
@media (max-width: 767px) {
  .title h1 {
    font-size: 4rem;
  }
  .title h2 {
    font-size: 1.4rem;
  }
  .content-videos {
    row-gap: 5rem;
  }
  .navbar-logo {
    display: flex;
  }
  iframe {
    width: 100%;
    height: 20rem;
  }
  .aventador-interior p {
    font-size: 1rem;
    color: #FFF;
    background-color: transparent;
  }
  .aventador-engine p {
    font-size: 1rem;
  }
  footer .navbar-bottom {
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    row-gap: 1rem;
  }
  .legal {
    font-size: 0.5rem;
  }
  .contact-us-data {
    display: grid;
    row-gap: 1rem;
    grid-template-rows: auto;
    color: #FFF;
  }
  .contact-us-data h4 {
    padding: 0;
  }
  .contact-us-data .address {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .address h4 {
    grid-row: 1;
    grid-column: 1/span 2;
  }
  .address p {
    grid-row: 2;
  }
  .address .p1 {
    display: flex;
    justify-content: flex-end;
    grid-column: 1;
  }
  .address .p2 {
    display: flex;
    justify-content: flex-start;
    grid-column: 2;
  }
  .contact-us-data .phones {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .phones h4 {
    grid-row: 1;
    grid-column: 1/span 2;
  }
  .phones p {
    grid-row: 2;
  }
  .phones .p1 {
    display: flex;
    justify-content: flex-end;
    grid-column: 1;
  }
  .phones .p2 {
    display: flex;
    justify-content: flex-start;
    grid-column: 2;
  }
  .contact-us-data .hours {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .hours h4 {
    grid-row: 1;
    grid-column: 1/span 2;
  }
  .hours p {
    grid-row: 2;
  }
  .hours .p1 {
    display: flex;
    justify-content: flex-end;
    grid-column: 1;
  }
  .hours .p2 {
    display: flex;
    justify-content: flex-start;
    grid-column: 2;
  }
  .contact-us-data h4 {
    color: #FFF;
  }
  .contact-us-data p {
    color: #FFF;
  }
  label {
    font-size: 0.9rem;
  }
}
@media (max-width: 500px) {
  iframe {
    width: 100%;
    height: 16rem;
  }
  .lambo {
    left: -2rem;
    font-size: 1rem;
  }
  .aventador {
    font-size: 2rem;
  }
  .videos-details h2 {
    font-size: 2rem;
  }
  .content-videos {
    row-gap: 3rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-top a {
  color: #000;
  text-decoration: none;
  transition: 0.5s;
}
.navbar-top a:hover {
  color: black;
  font-weight: 900;
  transform: scale(1.2);
}
.navbar-top a:visited {
  color: black;
}

.homepage {
  display: grid;
  grid-template-rows: auto 1fr;
  height: calc(100vh - 88px);
  overflow: hidden;
}

.navbar-top {
  text-align: center;
  background-color: #FFF;
  color: #000;
  font-size: 0.8rem;
  font-family: Nunito;
  font-weight: 600;
  z-index: 1;
}

.navbar {
  padding: 0;
}

.navbar-top ul {
  display: flex;
  list-style-type: none;
  margin: auto;
  padding-left: 0;
}

.navbar-top li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.navbar-top li img {
  height: 4.5rem;
  vertical-align: middle;
  margin: 0.5rem;
}

.container-fluid {
  display: flex;
  margin: 0;
  justify-content: right;
}

.navbar-logo {
  display: none;
  height: 4.5rem;
  vertical-align: middle;
}

.gallery {
  padding: 0 15%;
  background-image: url("../images/galleries-background1.jpg");
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #FFF;
}

.title {
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding: 10rem 0 5rem;
}

h1 {
  color: #FFF;
  text-align: center;
  font-size: 12.5rem;
  font-family: Bebas Neue;
  font-weight: 200;
}

h2 {
  color: #FFF;
  text-align: center;
  font-size: 2.5rem;
  font-family: Bebas Neue;
  font-weight: 200;
}

.album {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-bottom: 10rem;
}

.album img {
  width: 100%;
}
.album img:hover {
  transform: scale(1.1);
}

.img1 {
  transition: 0.5s;
}

.img2 {
  transition: 0.5s;
}

.img3 {
  transition: 0.5s;
}

.img4 {
  transition: 0.5s;
}

.img5 {
  transition: 0.5s;
}

.img6 {
  transition: 0.5s;
}

.img7 {
  transition: 0.5s;
}

.img8 {
  transition: 0.5s;
}

.img9 {
  transition: 0.5s;
}

.img10 {
  transition: 0.5s;
}

.img11 {
  transition: 0.5s;
}

.img12 {
  transition: 0.5s;
}

.img13 {
  transition: 0.5s;
}

.img14 {
  transition: 0.5s;
}

.img15 {
  transition: 0.5s;
}

footer {
  padding: 0 15%;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #000;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

footer .logo {
  grid-row: 1;
  text-align: center;
  padding: 3% 0;
}

footer .logo img {
  width: 5rem;
}

footer .navbar-bottom {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  font-size: 1rem;
  color: #FFF;
  font-family: Nunito;
  font-weight: 600;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

footer li {
  vertical-align: bottom;
  text-align: center;
}

hr {
  grid-row: 3;
  text-align: center;
}

.social {
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.social img {
  width: 1.5rem;
}

.navbar-bottom a {
  color: #FFF;
  text-decoration: none;
}

.navbar-bottom a:hover {
  color: #FFF;
  font-weight: 900;
}

.navbar-bottom a:visited {
  color: #FFF;
}

.legal {
  grid-row: 5;
  color: #FFF;
  text-align: center;
  font-size: 0.8rem;
  font-family: Nunito;
  font-weight: 600;
  padding: 3% 0;
}

.about-us {
  padding: 0 15%;
  background-image: url("../images/about-us-background-2.png");
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #FFF;
}

.content-about-us {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 7rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 10rem;
}

.about-us-details {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.content-about-us p {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0;
  color: #FFF;
}

.about-us-img1 {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
}

.about-us1 {
  grid-row: 1;
  grid-column: 2;
  align-items: start;
  color: #FFF;
}

.about-us2 {
  grid-row: 2;
  grid-column: 1;
  text-align: right;
}

.about-us-img2 {
  grid-row: 2;
  grid-column: 2;
  width: 100%;
}

.our-teams {
  grid-row: 2;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  align-items: center;
  color: #000;
}

.our-teams img {
  grid-row: 2;
  width: 100%;
}

.our-teams h2 {
  grid-row: 1;
  font-size: 4rem;
  color: #FFF;
}

.our-teams p {
  grid-row: 3;
  text-align: center;
  width: 100%;
}

.contact-us {
  padding: 0 15%;
  background-image: url("../images/contact_us_background.jpg");
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #FFF;
}

.content-contact-us {
  display: grid;
  grid-template-rows: auto;
  row-gap: 6rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 10rem;
}

.map {
  grid-row: 1;
  width: 100%;
}

.contact-us-data {
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-us-data .address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact-us-data .phones {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-us h4 {
  color: #000;
  font-size: 2rem;
  font-family: Roboto;
  font-weight: 600;
  padding: 0.5rem;
  margin: 0;
}

.contact-us p {
  color: #000;
  font-size: 1.5rem;
  font-family: Roboto;
  font-weight: 300;
  padding: 0.1rem;
  margin: 0;
}

.contact-form {
  display: flex;
  justify-self: center;
  grid-row: 4;
  width: 80%;
}

.form-title {
  grid-row: 3;
  color: #000;
  font-size: 3rem;
  font-family: Roboto;
  font-weight: 600;
  margin: 0;
}

label {
  display: flex;
  color: #000;
  font-size: 1.25rem;
  font-family: Roboto;
  font-weight: 300;
}

.contact-us input {
  background: #D9D9D9;
  border: #D9D9D9;
}

.contact-us textarea {
  background: #D9D9D9;
  border: #D9D9D9;
  height: 10rem;
}

.contact-us #inputState {
  background: #D9D9D9;
  border: #D9D9D9;
}

.videos {
  padding: 0 15%;
  background-image: url("../images/videos-background.jpg");
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #FFF;
}

.content-videos {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 8rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 10rem;
}

.video-player {
  position: relative;
  grid-row: 1;
}

.lambo {
  position: absolute;
  color: #FFF;
  font-size: 2rem;
  font-family: Bebas Neue;
  font-weight: 200;
  left: -3rem;
  top: 5rem;
}

.aventador {
  position: absolute;
  color: #FFF;
  font-size: 4rem;
  font-family: Bebas Neue;
  left: -2rem;
  top: 7.5rem;
}

iframe {
  width: 100%;
  height: 44rem;
}

.videos-details {
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 3rem;
  justify-content: space-evenly;
}

.videos-details img {
  width: 50%;
}

.video-img1b,
.video-img2b {
  display: none;
}

.videos-details .aventador-interior {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 40%;
}

.videos-details .aventador-engine {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
  width: 40%;
}

.interior {
  text-align: left;
}

.videos-details p {
  color: #000;
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 0;
}

.videos-details h2 {
  color: #000;
}/*# sourceMappingURL=main.css.map */